<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-trim" version="1.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>VideoEditor</name>
    <description>A plugin to assist in video editing tasks</description>
    <keywords>cordova,video,editing,transcoding,encoding</keywords>
    <repo>https://github.com/jbavari/cordova-plugin-video-editor.git</repo>
    <license>MIT for iOS, GPL for Android, Apache 2.0 for Windows</license>


    <js-module name="VideoTrim" src="www/VideoTrim.js">
        <clobbers target="VideoTrim" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">

            <feature name="VideoTrim">
                <param name="ios-package" value="VideoTrim"/>
            </feature>

        </config-file>

        <header-file src="src/ios/VideoTrim.h"/>
        <source-file src="src/ios/VideoTrim.m"/>

        <header-file src="src/ios/ICGRulerView.h"/>
        <source-file src="src/ios/ICGRulerView.m"/>

        <header-file src="src/ios/ICGThumbView.h"/>
        <source-file src="src/ios/ICGThumbView.m"/>

        <header-file src="src/ios/ICGVideoTrimmerView.h"/>
        <source-file src="src/ios/ICGVideoTrimmerView.m"/>

        <header-file src="src/ios/ICGVideoTrimmer.h"/>

        <header-file src="src/ios/ViewController.h"/>
        <source-file src="src/ios/ViewController.m"/>

        <resource-file src="src/ios/Trim.storyboard"/>

        <framework src="AssetsLibrary.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="MediaPlayer.framework"/>
        <framework src="CoreVideo.framework"/>

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoTrim">
                <param name="android-package" value="org.apache.cordova.trim.VideoTrim" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <activity android:label="ZenVerse" android:name="org.apache.cordova.trim.VideoTrimActivity" 
                android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
                <intent-filter>
                    <action android:name="org.apache.cordova.trim.VideoTrimActivity" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>

            <activity android:name="com.afollestad.materialcamera.CaptureActivity"
                        android:theme="@style/MaterialCamera.CaptureActivity" />
            <activity android:name="com.afollestad.materialcamera.CaptureActivity2"
                        android:theme="@style/MaterialCamera.CaptureActivity" />

		</config-file>

        <!-- add plugin class -->
        <source-file src="src/android/VideoTrim.java" target-dir="src/org/apache/cordova/trim" />
        <source-file src="src/android/VideoTrimActivity.java" target-dir="src/org/apache/cordova/trim" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/layout/activity_trimmer.xml" target-dir="res/layout" />
        <resource-file src="src/android/strings_trim.xml" target="res/values/strings_trim.xml" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    </platform>

</plugin>
